<span class="spinner {% if display is defined and not display %}d-none{% endif %} {% if customClass is defined %}{{ customClass }}{% endif %}">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>
</span>