{% extends 'base.html.twig' %}

{% block title %}Comptes d'investissement{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mb-3">
            <h2>
                <a class="text-decoration-none text-dark" href="{{ path('wallet') }}">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    Comptes d'investissements
                </a>
            </h2>
        </div>

        <div class="row mb-3">
            <div class="card-group">
                <div class="card text-center">
                    <div class="card-header">Valeur totale</div>
                    <div class="card-body total-value">
                        <div class="d-flex justify-content-center">
                            {% include 'partials/_loading_indicator.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">Total dividendes annuel</div>
                    <div class="card-body total-annual-dividend">
                        <div class="d-flex justify-content-center">
                            {% include 'partials/_loading_indicator.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="card text-center">
                    <div class="card-header">Rendement total des dividendes</div>
                    <div class="card-body total-dividend-yield">
                        <div class="d-flex justify-content-center">
                            {% include 'partials/_loading_indicator.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-5">
            </div>
            <div class="col-xl-7 market-area">
                <div class="d-flex justify-content-center">
                    {% include 'partials/_loading_indicator.html.twig' %}
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('market_list') }}
{% endblock %}