{% extends 'base.html.twig' %}

{% block title %}Livrets{% endblock %}

{% block body %}
    <div class="container mb-5">

        <div class="row">
            <h3>
                <a class="text-decoration-none text-dark" href="{{ path('wallet') }}">
                    <i class="fas fa-long-arrow-alt-left"></i>
                    Livrets
                </a>
            </h3>

            <div class="col-xl-6 offset-xl-6 saving-accounts-list">
                <div class="d-flex justify-content-center">
                    {% include 'partials/_loading_indicator.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('savings_list') }}
{% endblock %}