@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.min.css";

@import "~flatpickr/dist/flatpickr";

@import  "tablesort/_site/tablesort.css";

body.secret-mode {
  span[data-secret-mode="true"] {
    transition: all .1s ease-in-out;
    filter: blur(.5rem);
  }
}

.checking-account:hover {
  cursor: pointer;
  @extend .bg-light;
}

.wallet-checking-list:hover {
  cursor: pointer;
}

.disabled-sync-button {
  opacity: 0.5;
}

.menu-item {
  @extend .nav-link, .mx-2, .link-dark;
}

.menu-item.active {
  color: #fff !important;
}

.menu-item:hover {
  @extend .active;
}

.connector-item {
  .connector-sync-button {
     display: none;
   }
}

.connector-item:hover {
  .connector-sync-button {
    display: block;
  }
}

.savings-account:hover {
  cursor: pointer;
  @extend .bg-light;
}