<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Passifs</th>
        <th>Répartition</th>
        <th>Valeur</th>
    </tr>
    </thead>
    <tbody>
    <tr id="checking">
        <td>
            <a class="text-dark text-decoration-none" href="{{ path('wallet_checking_list') }}">
                <b>Emprunts <i class="fas fa-long-arrow-alt-right"></i></b>
            </a>
        </td>
        <td>{{ liabilities.loan.share|round }} %</td>
        <td><span data-secret-mode="true">{{ liabilities.loan.amount|round }} €</span></td>
    </tr>
    </tbody>
</table>