<div class="col-xl-4 mb-4">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">{{ label }}</h5>
            <div class="card-text">
                <span class="{{ id }} h5" data-secret-mode="true">
                    {% include 'partials/_loading_indicator.html.twig' %}
                </span>
            </div>
        </div>
    </div>
</div>