<div class="col-xl-4 mb-4">
    <div class="card bg-light">
        <div class="card-body">
            <h5 class="card-title">{{ label }}</h5>
            <div class="card-text">
                <span class="{{ id }} h5" data-secret-mode="true">
                    <div class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>