<div class="card bg-light text-center">
    <div class="card-header">
        {{ label }}
    </div>
    <div class="card-body">
        <div class="card-text">
                <h2 class="card-title fw-bold text-primary {{ class }}">
                    <span data-secret-mode="true">
                        {% include 'partials/_loading_indicator.html.twig' with {color: 'primary', type: 'spinner-grow'} %}
                    </span>
                </h2>
        </div>
    </div>
</div>