<div class="card">
    <div class="card-header">
        {{ 'dashboard.labels.news'|trans }}
    </div>
    <ul class="list-group list-group-flush">
        {% for article in news %}
            <li class="list-group-item">
                <a target="_blank" class="text-decoration-none" href="{{ article.link }}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="card-footer text-muted">
        <small>Powered by Fortuneo</small> <img height="32" width="32" src="{{ asset('images/fortuneo.png') }}" alt="Fortuneo icon" >
    </div>
</div>